.Portfolio {
  background-color: #ffffff;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(60, 60, 60);

  text-align: center;
}

.Portfolio-grid {
  margin: 0 auto;
  width: 1200px;
}

.Portfolio-header {
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Portfolio-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}