.Portfolio {
  background-color: #ffffff;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(60, 60, 60);

  text-align: center;
}

.Portfolio-grid {
  margin: 0 auto;
  width: 1200px;

  border: solid black 1px;
}

.Portfolio-header {
  margin: 0 auto;
  margin-top: 96px;
  max-width: 1008px;
  height: 72px;
  display: grid;
  grid-template-columns: 50% auto 25%;
  border: solid black 1px;
  align-items: center;
  justify-items: center;
}

.Portfolio-header h1 {
  margin: 0;
  font-family: none;
  font-weight: 100;
  grid-area: 1/1;
}

.Portfolio-header div {
  grid-area: 1/3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Portfolio-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}